body {
    text-align: center;
	background-color: #EEEEEE;
	color: #305e86;
   }
   
a:link {
	font-size:16px; 
	color:#305e86;
	font-weight:bold
	}
a:hover {
	font-size:16px; 
	color: #1f5177;
	font-weight:bold
	}
	
a:visited {
	font-size:16px; 
	color: #559ad6;
	font-weight:bold
	}
	

